
<body>

    <main>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
